.offercard_container {
  display: flex;
  width: 50%;
  min-height: 50vh;
  margin: 5rem auto;
  padding: 3rem;
  min-height: 10rem;
  -webkit-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  border-radius: 0.3rem;
  justify-content: space-between;
}

.information {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border-left: solid 0.1rem #9995955b;
  min-width: 20%;
}

.information a {
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.salary,
.type,
.location {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 1rem;
  line-height: normal;
}
.salary {
  font-size: 2rem;
}

.type,
.location {
  font-size: 1.2rem;
}

.offercard_container button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;
  height: 3rem;
  border-radius: 0.4rem;
  background-color: purple;
  color: white;
  font-size: 1.3rem;
  border: none;
  font-weight: 600;
  padding: 1rem;
}

.offercard_container button:hover {
  cursor: pointer;
  background-color: white;
  color: purple;
  border: solid 0.15rem purple;
}

.title {
  align-self: center;
  margin: 2rem 0.3rem 0.3rem 0;
  color: #424141d5;
  font-size: 1.6rem;
  font-weight: 600;
}

.category {
  color: #8f8d8d;
  margin: 0 0.3rem 2rem 0;
  font-size: 1rem;
  font-style: italic;
  padding-left: 1rem;
}

.bookmark {
  margin-top: 0;
  position: absolute;
  color: purple;
  left: 73%;
  background-color: transparent;
  border: none;
}
.bookmark:hover {
  cursor: pointer;
}

.map {
  margin: 1.2rem 0 0 0;
}
