.header {
  width: auto;
  height: 5rem;
  display: flex;
  padding: 0 15% 0 4%;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
}

.logo {
  height: 5rem;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 3rem;
  font-size: 1.25rem;
}

.nav li a {
  color: aliceblue;
  text-decoration: none;
  font-weight: 400;
}
.nav li a:hover {
  position: relative;
  top: -2px;
}

.active {
  font-size: 1.32rem;
  color: black;
}

.image {
  height: 5rem;
  width: auto;
}
