.pagination {
  justify-content: center;
  display: flex;
  margin: 0.4rem 0 2rem 0;
  align-items: center;
}
.button {
  display: flex;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0.1rem;
  padding: 0;
  min-width: 3rem;
  justify-content: center;
}
