.pagination {
  display: flex;
  margin: 0.4rem 0 2rem 0;
}
.pagination button,
.dots {
  align-items: center;
  display: flex;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1rem 0.2rem;
  padding: 0;
  min-width: 3rem;
  justify-content: center;
}

.pagination button:disabled {
  display: none;
}

.pagination button:hover {
  cursor: pointer;
  position: relative;
  top: -2.5px;
  color: purple;
}

#active {
  color: purple;
  font-size: 1.5rem;
}
