.homepage_container {
  display: flex;
  position: relative;
  margin: 3rem 10rem;
  display: flex;
  justify-content: space-around;
  animation: anim1 0.75s ease-in-out;
}

.card {
  width: 25%;
  padding: 2.5%;
  -webkit-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  border-radius: 2.5%;
}

.title {
  text-transform: uppercase;
  font-size: 1.4rem;
  align-self: center;
}

.image {
  width: 12rem;
  padding-bottom: 0.2rem;
}

.top {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 0.1rem #9995955b;
  padding-bottom: 1rem;
}

@keyframes anim1 {
  from {
    top: 150px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}

@media (width < 1440px) {
  .homepage_container {
    align-items: center;
    margin: 3rem 8rem;
  }
  .card {
    width: 40%;
    margin: 1rem 1rem;
  }
  .top {
    margin-bottom: 1rem;
  }
}

@media (width < 1024px) {
  .homepage_container {
    flex-direction: column;
    margin: 3rem 6rem;
  }
  .card {
    width: 60%;
    margin: 2rem 0;
    padding: 1rem 2rem;
  }
}

@media (width < 768px) {
  .homepage_container {
    margin: 3rem 4rem;
  }
  .card {
    width: 80%;
    margin: 2rem 0;
    padding: 1rem 2rem;
  }
}

@media (width < 480px) {
  .card {
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 2rem;
  }
}
