footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_container {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-self: center;
  background-color: #242424;
  margin: 0;
  padding: 0.5rem 0;
}

ul {
  list-style: none;
}

.footer_container li {
  margin: 0 1rem;
}

.footer_container li a {
  color: rgba(240, 248, 255, 0.815);
  text-decoration: none;
  font-weight: 300;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 2rem;
  height: auto;
}

.iconContainer {
  display: flex;
}

.iconContainer li {
  justify-self: center;
  align-items: center;
}

@media (width < 768px) {
  .footer_container ul {
    flex-direction: column;
  }
  .footer_container li {
    margin: 0.2rem;
  }
}
